

.list-group-item {
    padding: 1rem 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#recipes {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 50vh;
    margin: 1em 0;
    border: 2px solid black;
}